
.qmenu_opened.marker
/.vscode
kubejs/jsconfig.json
kubejs/README.txt
/local
/logs
/mods/.connector
kubejs/server_scripts/jsconfig.json
patchouli_data.json
/PCL
/replay_recordings
/resourcepacks
rhino.local.properties
/saves
servers.dat
servers.dat_old
/shaderpacks
usercache.json
usernamecache.json
/journeymap/data
/journeymap/data
/journeymap/data
