
.qmenu_opened.marker
/.vscode
kubejs/jsconfig.json
kubejs/README.txt
/local
/logs
/mods
kubejs/server_scripts/jsconfig.json
patchouli_data.json
/PCL
/replay_recordings
/resourcepacks
rhino.local.properties
/saves
servers.dat
servers.dat_old
/shaderpacks
usercache.json
usernamecache.json
/journeymap/data
/journeymap/data
/journeymap/data
*.bak
*.log
/journeymap/data
/journeymap/data
/.replay_cache
/Towards the Stars-natives
/journeymap
/mods
/Towards the Stars-natives
Towards the Stars.jar
Towards the Stars.json
/config/inventoryprofilesnext
/crash-reports
/journeymap/data
*.zip
*.outdated
/data
/XaeroWaypoints_BACKUP*
/xaero
*.xml
/tacz
/mods
/schematics
kubejs/startup_scripts/src/entity_custom.disabled
kubejs/server_scripts/src/test.js
/wiki
*.tmp
/screenshots
/natives-windows-x86_64
/defaultconfigs
emi.json
/icon-exports-x32
kubejs/startup_scripts/src/registry/*.snbt
/essential
ops.json
servers.essential.dat
whitelist.json
/xaero/minimap/test
/Distant_Horizons_server_data
