
.probe
.curseclient
/.mixin.out
.qmenu_opened.marker
/.vscode
command_history.txt
/crash-reports
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
imgui.ini
emi.json
/downloads
/defaultconfigs
/data
/local
/logs
/mods
/saves
minecraftinstance.json
patchouli_data.json
ponders_watched.json
/resourcepacks
/screenshots
seamless.txt
/shaderpacks
user-prefs.json
usercache.json
usernamecache.json
/xaero
/XaeroWaypoints_BACKUP[0-9][0-9][0-9][0-9][0-9][0-9]
config/NoChatReports/README.md
jsconfig.json
/villagerpacks
kubejs/README.txt
/.sable
/.replay_cache
fabricloader.log
